.conMain {
	margin-right: 10px;
	background: #FFFFFF;
	/* position: relative; */
	/* min-height: calc(100% - 10px); */

}

.conMainTop {
	padding: 10px 10px 0;
	width: 100%;
	text-align: left;
}

.conMainTop>>>.ivu-form-item {
	margin-bottom: 8px;
}

.conPageMain {
		text-align: left;
		margin-top: 10px;
		padding-left: 10px;
		display: flex;
	}
.mainBorder {
	padding-right: 10px;
}

.mainHeader {
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	/* border-radius: 4px; */
	margin-bottom: 5px;
	text-align: left;
}

.closeIcon {
	cursor: pointer;
	float: right;
	font-size: 30px;
	color: #1296db;
	margin-top: 5px;
}

.mainBody {
	background: #fff;
	/*height: 500px;*/
	/* border-radius: 4px; */
	text-align: left;
	padding: 10px 20px 20px 0;
	overflow-y: auto;
	height: calc(100vh - 120px);
}

.mainBodyButton {
	position: absolute;
	right: 150px;
	bottom: 80px;
}

.el-cascader {
	width: 385px;
}
.imgModal{
	width:auto;
	height:auto;
	height: 550px;
	max-width: 768px;
	transform:rotate(0deg);
	transition: all 0.5s;
	}
  .rotateModal{
    width: 30px;
    height: 30px;
    position: absolute;
    right:60px;
    top:10px;
    cursor: pointer;
    background:url(../assets/images/rotate.png) no-repeat center;
    background-size:100% 100%;
  }
